<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>INFO</title>
</head>
<body>
    <div class ="frame">
        <nav class ="navigator">
            <h3 class = "site-name">PROFILE</h3>
            <ul>
                <li><a class = "nav-menu" href="index.html" class = "nav-menu">WORK</a></li>
                <li><a class = "nav-menu" href="info.html" class = "nav-menu">INFO</a></li>
                <li><a class = "nav-menu" href="https://www.instagram.com/cjwoo_24/" class = "nav-menu">INSTAGRAM</a></li>
                <li><a class = "nav-menu" href="https://github.com/cjw0324" class = "nav-menu">GITHUB</a></li>
            </ul>
        </nav>

        <div class="profile-section">
            <a href="https://www.instagram.com/cjwoo_24/" target="_blank">
                <img class = "face" src="profile.jpeg"></img>
            </a>
            
            <div class="introduction">
                <h2>ABOUT ME</h2>
                <p>"소프트웨어와 하드웨어를 함께 다룰 수 있도록 노력 중"<br>주전공으로는 컴퓨터공학과 부전공으로 기계공학과 공부 중 입니다.<br>아직은 많이 부족하더라도 목표는 뚜렷합니다!<br>한쪽에 국한되지 않고 하드웨어와 소프트웨어 지식의 기반으로 팀의 융화에 기여할 수 있습니다.</p>
                <h2>CAPABILITY</h2>
                <p id="capability">C Language<br>Java<br>Python<br>Fusion 360</p>
            </div>
        </div>
    
        <h3 class="recent-menu-info">RECENT ACTIVITY</h3>
        <div class = "more-someting">
            <div class = "recent-activity">
                <iframe class = "youtube" width="560" height="315" src="https://www.youtube.com/embed/FOcUgluW6G0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class = "everland">- 2021.05.03 ~ 2022.02.28<br>- EVERLAND<br>- 서비스혁신그룹 그리팅<br>- CAST<br>  
                </p>
            </div> 
            <div class = "traveler">
                <img class = "travel" src="travel.JPG"></img>
                <p class = "everland">- 2022.03.01 ~<br>- 자유로운 영혼  
                </p>
            </div>
        </div>
        

        <footer class="footer">
            <p>상단의 MAIN을 참고해주세요</p>
            contact : e-mail 32184682@dankook.ac.kr / 
            <li><a class = "nav-menu" href="https://www.instagram.com/cjwoo_24/" class = "nav-menu">INSTAGRAM</a></li>
            <li><a class = "nav-menu" href="https://github.com/cjw0324" class = "nav-menu">GITHUB</a></li>
        </footer>

    </div>
</body>
</html>